<div id="<%= dom_id monthly_step %>">
  <p>
    <strong>Title:</strong>
    <%= monthly_step.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= monthly_step.description %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= monthly_step.due_date %>
  </p>

  <p>
    <strong>Monthly goals:</strong>
    <%= monthly_step.monthly_goals_id %>
  </p>

</div>
