<p style="color: green"><%= notice %></p>

<div class="feedbackinfo" >
<div class="ftitle"><%= @feedback.title %></div>
<div class="fcontent"><%= @feedback.content %></div>

  <div class="deletef">
  <%= link_to "ðŸ“", edit_feedback_path(@feedback) %>
  <%= link_to "ðŸ”™", feedbacks_path %>
<%= button_to "ðŸ—‘ï¸", @feedback, method: :delete, class: "deleteb" %>
</div>
</div>
<style>
.deletef{
display: flex;
justify-content: space-between;
margin-bottom: 0;
}
.deleteb{
  background-color: inherit;
  border: none;
}


</style>
