<%= simple_form_for(@todo_list_task) do |f| %>
  <div class="beach-form">
    <%= f.input :title, input_html: { class: "task_form" } %>
    <%= f.input :description, input_html: { class: "task_form" } %>
    <%= f.input :due_date, input_html: { class: "task_form" } %>

    <%= f.button :submit, "Create My Task", class: "createbutton" %>

  </div>
<% end %>
