<div id="<%= dom_id todo_list_task %>">


<div class="task-design" data-controller="todo" data-todo-target="task">
<%  if  @incomplete_tasks.include?(todo_list_task) %>
<div class="checkbox-wrapper-11 ">
  <input id="checkbox-<%= todo_list_task.id %>" type="checkbox" name="r" value="2"
    data-task-id="<%= todo_list_task.id %>" data-todo-target="checkbox"  data-action="click->todo#complete">
  <label for="checkbox-<%= todo_list_task.id %>">To-do</label>
</div>
<% end %>

<div class="Tasktitle" data-bs-toggle="popover" data-bs-title=" <%= todo_list_task.title %>" data-bs-content="<%= todo_list_task.description%>" data-custom-popover="true" data-bs-placement="top" data-bs-custom-class="custom-popover"  >
  <%= todo_list_task.title %>
  <p>
  <% if todo_list_task.due_date.present? %>
    <% if todo_list_task.due_date == Date.today %>
      <p class= "today"> 🗓️ Today</p>
    <% elsif todo_list_task.due_date == Date.tomorrow %>
      <p class= "tomorrow"> 🗓️ Tomorrow</p>
    <% elsif todo_list_task.due_date == Date.yesterday %>
      <p class= "yesterday"> 🗓️ Yesterday</p>
    <% else %>
      <%= todo_list_task.due_date.strftime('%A, %b %e') %>
    <% end %>
  <% else %>
    <!-- Handle the case where due_date is nil or blank -->
    <p class="no-due-date">No due date</p>
  <% end %>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Get all task elements
    const taskElements = document.querySelectorAll(".task-design");

    // Iterate through each task and check if it has a "To-do" label
    taskElements.forEach(function(taskElement) {
      const todoLabel = taskElement.querySelector(".checkbox-wrapper-11 label");
      if (!todoLabel) {
        // Task doesn't have a "To-do" label, add a class to it
        taskElement.classList.add("hide");
      }
    });
  });
</script>
<style>
.hide{
  display:none;
}
</style>









<!-- Button trigger modal -->


<!-- Modal -->


</div>

</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));
  });
</script>

<style>
.popover  {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.custom-popover{
 --bs-popover-max-width: 600px;
  --bs-popover-border-color: var(--bd-violet-bg);
  --bs-popover-header-bg: var(--bd-violet-bg);
  --bs-popover-header-color: #191919;
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;

}
.task-design:hover{
  transform:scale(1.1);
  cursor: pointer;
}

</style>
