<p style="color: green"><%= notice %></p>

<%= render @todo_list_task %>

<div>
  <%= link_to "Edit this todo list task", edit_todo_list_task_path(@todo_list_task) %> |
  <%= link_to "Back to todo list tasks", todo_list_tasks_path %>

  <%= button_to "Destroy this todo list task", @todo_list_task, method: :delete %>
</div>
