
<%= simple_form_for(@monthly_goal) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

 <div class="beachformmg">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :priority, as: :select, collection: ["Low Priority", "Medium Priority", "High Priority"], label: "Priority", input_html: { class: "priority-select"} %>



  <div class="form-actions">
     <%= f.button :submit, "Create My Monthly Goal", class: "createbuttonmg"%>
  </div>
</div>
<% end %>
